.cardContainer {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    padding: 2px;

}

.card-content {
    display: block;
    margin: 3px;

}